<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
<servlet-name>StudentServlet</servlet-name>   
      <servlet-class>StudentPackage.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>    
             <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
</web-app>
    
